# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Environment variables
.env
*.yaml
*.md
/changelog
/.github


# Random things
mini.py
**/debug/
**/pictures/
.config_profiles/
mini.py
summary/
*.png
*.jpg
__pycache__/
*.pyc
.idea/
.git.backup/